@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  background: #ddd;
}

main {
  max-width: 50em;
  margin: 0 auto;
  padding: 2em;
  background: #fff;
}

img, video {
  max-width: 100%;
}

* {
  font-family: 'Roboto', 'Arial', sans-serif;
}

pre, code {
  font-family: 'Roboto Mono', 'Courier', monospace;
}

