@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', 'Arial', sans-serif;
}

pre, code {
  font-family: 'Roboto Mono', 'Courier', monospace;
}

main {
  max-width: 50em;
  margin: 1em auto;
}

img, video {
  max-width: 100%;
}

h2 {
  margin-top: 2em;
}
